<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users">Student Details</a></li>
    <li><a href="/newuser">New Student</a></li>
    <li><a href="/deluser">Delete Details</a></li>
  </ul>
</nav>


