<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Student Data</title>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->

    <link href="https://fonts.googleapis.com/css?family=Eagle+Lake|Lemonada|Roboto" rel="stylesheet"> 
    <link href="stylesheets/index.css" rel="stylesheet">

  </head>
  <body>

   	<h1>Welcome to Student Database</h1>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/users">Student Details</a></li>
		<li><a href="/newuser">New Student</a></li>
		<li><a href="/deluser">Delete Details</a></li>
	</ul>
  </body>
</html>
